@import "./../variables.scss";


.background{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1000;
    
    background-image: url("./../assets/media/background-animeflix.jpg");

    .blur{
        height: 100vh;
        width: 100vw;
        
        background-color: $blur-color;
    }
}

.img-logo{
    position: relative;
    padding: 1rem;

    img{
        max-width: 15rem;
        width: auto;
    }
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    .box-login{
        min-height: 60vh;
        height: auto;
        min-width: 30vw;
        width: auto;
        margin-top: 3%;

        background-color: $background-color-glassy;
        color: $text-color;
        padding: 3rem;

        form{
            display: flex;
            flex-direction: column;

            h1{
                margin-top: 1rem;
                margin-bottom: 1.2rem;
            }

            .form-field{
                width: 90%;
                height: 2.7rem;

                margin: 0.7rem;
                padding: 0.5rem;

                border-radius: 3px;

                font-size: 18px;

                color: $text-color;
                background-color: $components-color-glassy;
            }

            .form-btn{
                margin-top: 2rem;
                background-color: $main-red;
            }

            .more{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                margin-left: 0.7rem;
                margin-right: 0.7rem;
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
                

                color: $text-color-dark;

                .checkbox{
                    input{
                        margin-right: 0.5rem;
                    }
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .help-link{
                    text-decoration: none;
                    color: $text-color-dark;
                }
            }

            .social-login{
                height: auto;
                max-width: 10rem;
                padding-top: 1rem;
                padding-bottom: 1rem;

                display: grid;
                grid-template-columns: auto;
                align-items: center;

                color: $text-color-dark;
                min-height: 1.2rem;

                a{
                    display: flex;
                    flex-direction: row;
    
                    text-decoration: none;
                    color: $text-color-dark;
    
                    margin: 0.5rem;
                    margin-left: 0rem;
                }

                .media-img{
                    height: 1.2rem;
                    width: auto;

                    margin-left: 0.7rem;
                    margin-right: 0.7rem;
                    
                }
            }

            .register{
                margin: 0.7rem;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

    }
}