// Standard Variables

// Colors
$background-color: rgb(9, 9, 9);
$background-color-glassy: rgba(0, 0, 0, 0.806);
$components-color-glassy: rgba(72, 72, 72, 0.897);

$text-color: rgb(246, 246, 246);
$text-color-dark: rgb(163, 163, 163);
$text-color-link: rgb(0, 118, 244);

$main-red: rgb(223, 17, 17);
$dark-red: rgb(185, 0, 0);

$blur-color: rgba(0, 0, 0, 0.73);